%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{pre_hooks, [
    %% touch the build.rs to force cargo to rerun build script and generate libpath file
    {compile, "touch crates/greptimedb-ingester-nif/build.rs"},
    {compile, "cargo build --release"},
    %% Should always be `.so`, OTP on macos won't load `.dylib` files.
    {compile, "sh -c \"cp $(cat ./libpath) priv/libgreptimedb_nif.so\""}
]}.

{post_hooks, [
    {clean, "cargo clean"},
    {clean, "rm -f priv/libgreptimedb_nif.so"},
    {clean, "echo \"priv/libgreptimedb_nif.so removed\""},
    {eunit, "cargo test"}
]}.

{plugins, [
    rebar3_cargo
]}.

{project_plugins, [{erlfmt, "1.7.0"}]}.

{deps, []}.

{erlfmt, [
    write,
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "rebar.config.script"
    ]}
]}.
