%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{pre_hooks, [
    {compile, "./do_compile.sh"}
]}.

{post_hooks, [
    {clean, "cargo clean"},
    {clean, "rm -f priv/libgreptimedb_nif.so"},
    {clean, "echo \"priv/libgreptimedb_nif.so removed\""},
    {eunit, "cargo test"}
]}.

{plugins, [
    rebar3_cargo
]}.

{project_plugins, [{erlfmt, "1.7.0"}]}.

{deps, [
    {ecpool, {git, "https://github.com/emqx/ecpool", {tag, "0.6.2"}}}
]}.

{erlfmt, [
    write,
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "rebar.config.script"
    ]}
]}.
