name: CI

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

permissions:
  contents: read

defaults:
  run:
    shell: bash

env:
  IS_CI: "yes"

jobs:
  sanity_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Erlang
        uses: erlef/setup-beam@v1
        with:
          otp-version: '27.2.3'
          rebar3-version: '3.24.0'

      - name: Check Rust format
        run: |
          cargo fmt --check

      - name: Check Erlang format
        run: |
          rebar3 fmt -c --verbose

      - name: Check TOML format
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
            | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
          taplo format --check --diff

      - name: Cargo Check
        run: |
          cargo check

      - name: Check Rust clippy
        run: |
          rustup toolchain list
          cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Check Cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v1
        with:
          log-level: error
          arguments: --all-features
          command: check -s licenses sources bans

      - name: Check project build
        run: |
          rebar3 compile

  cargo_check:
    runs-on: ubuntu-latest
    needs: sanity_check
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Cargo Test
        run: |
          cargo test

  common_test:
    runs-on: ubuntu-latest
    needs: sanity_check
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Erlang
        uses: erlef/setup-beam@v1
        with:
          otp-version: '27.2.3'
          rebar3-version: '3.24.0'

      - name: Start GreptimeDB Container
        run: |
          source .ci/docker-compose-file/.env
          docker compose -f .ci/docker-compose-file/docker-compose-greptimedb.yaml up -d
          echo \
            "export GREPTIMEDB_TCP_ADDR=$(docker container inspect greptimedb_tcp -f \
              '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}') \
                    GREPTIMEDB_TLS_ADDR=$(docker container inspect greptimedb_tls -f \
              '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}') \
                    GREPTIMEDB_AUTH_ADDR=$(docker container inspect greptimedb_auth -f \
              '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}') \
            " \
            | tee -a env.sh

      - name: Run Common Test
        run: |
          source env.sh
          make ct
